[Unit]
Description=Racecapture
After=basic.target

[Service]
Type=simple
User=pi
Restart=on-failure
ExecStart=/opt/racecapture/run_racecapture_wrapper.sh

[Install]
WantedBy=multi-user.target
